@import "src/styles/media-query";
@import "src/styles/mixin";

.skills {
  @include standart_main_container;
}

.active {
  @include active_wrapper;
}

.container {
  //border: .1px solid;
  padding-bottom: 100px;
  //margin-bottom: 100px;
  @include media-breakpoint-down(xs) {
    min-width: 90vw;
    margin-left: 5%;

  }
}

.logo {
  color: #08fdd8;
  font-size: 42px;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  font-weight: 900;
  padding-top: 20px;

  @include media-breakpoint-down(xs) {
    padding-left: 15%;
  }
}

.box {
  //border: .1px solid;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @include media-breakpoint-down(xl) {
    max-width: 90%;
  }

  @include media-breakpoint-down(xs) {
    display: flex;
    max-width: 100%;
  }
}

//.line {
//  position: absolute;
//  height: 97%;
//  background-color: #cacaca;
//  width: 1px;
//  left: 50%;
//}


.item {
  //border: .1px solid;
  //max-width: 500px;
  max-width: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  height: fit-content;
  border-bottom: 1px solid #cacaca;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  @media only screen and (min-width: 1440px) and (max-width: 1800px) {
    padding-top: 20px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 45%;
    padding: 20px 10px;
  }
  @include media-breakpoint-down(xs) {
    max-width: 85%;
    margin-left: 15%;
    padding: 20px 0;
  }
}


.item p {
  color: #cacaca;
  font-size: 37px;

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }
}

//
