@import "src/styles/media-query";
@import "src/styles/mixin";

.skills {
  @include standart_main_container;

  @media only screen and (max-width: 575px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  padding-bottom: 100px;

  @include media-breakpoint-down(xs) {
    min-width: 90vw;
    margin-left: 5%;
  }

  @media only screen and (max-width: 575px) {
    width: 100vw;
    margin: 0;
    padding: 0 0 100px 0;
  }
}

.logo {
  color: #08fdd8;
  font-size: 42px;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  font-weight: 900;
  padding-top: 20px;

  @include media-breakpoint-down(xs) {
    padding-left: 15%;
  }

  @media only screen and (max-width: 575px) {
    padding-left: 5%;
  }
}

.box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @include media-breakpoint-down(xl) {
    max-width: 90%;
  }

  @include media-breakpoint-down(xs) {
    display: flex;
    max-width: 100%;
  }

  @media only screen and (max-width: 575px) {
    align-items: center;
    display: flex;
  }
}

.item {
  max-width: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  height: fit-content;
  border-bottom: 1px solid #cacaca;
  position: relative;
  z-index: 4;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  @media only screen and (min-width: 1440px) and (max-width: 1800px) {
    padding-top: 20px;
  }

  @include media-breakpoint-down(xl) {
    max-width: 45%;
    padding: 20px 10px;
  }
  @include media-breakpoint-down(xs) {
    max-width: 85%;
    margin-left: 15%;
    padding: 20px 0;
  }
  @media only screen and (max-width: 575px) {
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
  }
}


.item p {
  color: #cacaca;
  font-size: 37px;

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }
}

//
