@import "src/styles/media-query";
@import "src/styles/mixin";

.portfolio {
  @include standart_main_container
}

.active {
  @include active_wrapper
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}