@mixin standart_main_container() {
  min-height: 100vh;
  height: 100%;
  background: #1d1d1d;
  display: flex;
  min-width: 83vw;
  //width: 100%;
  margin-left: -117vw;
  position: relative;
  transition: 1s all;
  z-index: -1;
  color: #fff;

  @media only screen and (min-width: 1440px) and (max-width: 1800px) {
    max-width: 80vw;
  }

  @include media-breakpoint-down(xl) {
    max-width: 72vw;
  }

  @include media-breakpoint-down(xs) {
    max-width: 100vw;
  }
}

@mixin active_wrapper() {
  margin-left: 17vw;

  @media only screen and (min-width: 1440px) and (max-width: 1800px) {
    margin-left: 20vw;
  }

  @include media-breakpoint-down(xl) {
    margin-left: 28vw;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 0;
  }
}

//"homepage": "https://mastertatto.github.io/portfolio-v3/",
//"predeploy": "npm run build",
//"deploy": "gh-pages -d build",