@mixin standart_main_container() {
  min-height: 100vh;
  height: 100%;
  background: #1d1d1d;
  display: flex;
  margin-left: -117vw;
  position: relative;
  transition: 1s all;
  color: #fff;
}

@mixin active_wrapper() {
  margin-left: 0;

  @include media-breakpoint-down(xs) {
    margin-left: 0;
  }
}

//"homepage": "https://mastertatto.github.io/portfolio-v3/",
//"predeploy": "npm run build",
//"deploy": "gh-pages -d build",