@import "src/styles/media-query";
@import "src/styles/mixin";

.box_item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  justify-content: space-between;

  &::after {
    content: '';
    height: 87%;
    width: 3px;
    background-color: #08fdd8;
    position: absolute;
    right: 49.8%;
    top: 5%;
  }
}

.item {
  display: flex;
  width: 100%;
  margin: 150px auto 0 auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;

  &:nth-child(1) {
    margin-top: 0;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  //border: .1px solid;
}

.item span {
  background-color: #08fdd8;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 3;
  //top: 10px;
  left: calc(50% - 23px);
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    height: 43px;
    width: 43px;
    top: 8%;
    left: 7%;
    border-radius: 50%;
    background-color: #343434;
    position: absolute;
  }

  &::before {
    content: '';
    width: 70vw;
    height: 3px;
    background-color: #08fdd8;
    position: absolute;
    z-index: -10;
  }
}

.data {
  font-size: 24px;
  color: #fff;

  position: relative;
  z-index: 4;
  border: 3px solid #08fdd8;
  padding: 15px;
  background-color: #181818;
}

.description {
  font-size: 24px;
  color: #fff;
  max-width: 40%;
  text-align: left;
  letter-spacing: 1px;
  position: relative;
  z-index: 4;
  border: 3px solid #08fdd8;
  padding: 15px;
  background-color: #181818;

  &:nth-child(even) {
    text-align: right;
  }
}

.logo {
  color: #08fdd8;
  font-size: 42px;
  letter-spacing: 1px;
  margin-bottom: 5.5rem;
  font-weight: 900;
  padding-top: 20px;
  margin-top: 8.5rem;

  @include media-breakpoint-down(xs) {
    padding-left: 15%;
  }
}

